<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.miggy.android.gpsant"
    android:versionName="@string/Version" android:versionCode="4">
   	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="false">
        <activity android:name=".GPSDisplay"        
        	android:label="@string/app_name"
        	android:launchMode="singleTask"
        	android:screenOrientation="portrait">
        	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
   		<service android:name=".GPSReader"
   			android:label="@string/LabelGPSReader">
   		</service>
   		
        <activity android:name=".GPSSats"        
        	android:label="@string/LabelGPSSats"
        	android:launchMode="singleTop"
        	android:screenOrientation="portrait">
        	
            <intent-filter>
                <action android:name="org.miggy.android.gpsant.sats" />
                <category android:name="org.miggy.android.gpsant.subview" />
            </intent-filter>
        
        </activity>

	</application>
    
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

</manifest> 